@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.h1 {
  @apply text-3xl;
}

* {
  @apply text-lg;
}

body {
  @apply bg-base-100;
}

.padding-x {
  @apply px-4;
}

.padding-x-2 {
  @apply px-8;
}

.padding-y {
  @apply py-4;
}

.padding-y-2 {
  @apply py-8;
}
