$bgcolor: #0C0B15;
$bgcolor2: #050505;
$primary: #F52789;
$secondary: #8E49B2;
$tertiary: #ff5e00;
$white1: #c8c8c8;

$black0: #0C0C0C;   
$black1: #171717;
$black2: #232323;
$black3: #343434;
$black4: #454545;
$black5: #898989;
$black6: #ddff;

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(15px + 0.39vw);
}

.sm {
    font-size: calc(12px + 0.39vw) !important;
}

.xsm {
    font-size: calc(10px + 0.39vw) !important;
}

h1 {
    font-size: calc(2.5rem + 0.39vw);
}

h2 {
    font-size: calc(2.25rem + 0.39vw) ;
}

h3 {
    font-size: calc(2rem + 0.39vw) ;
}

h4 {
    font-size: calc(1.75rem + 0.39vw) ;
}

h5 {
    font-size: calc(1.5rem + 0.39vw) ;
}

h6 {
    font-size: calc(1.25rem + 0.39vw) ;
}


ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: $black1;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary;
}

@media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    html {
        overflow: hidden;
    }
}

button {
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
}

.container {
    background-color: #000000;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}