$bgcolor: #0C0B15;
$primary: #F52789;
$secondary: #8E49B2;
$tertiary: #ff5e00;
$white1: #c8c8c8;

$black1: #171717;
$black2: #232323;
$black3: #343434;
$black4: #454545;
$black5: #898989;
$black6: #ddff;

* {
    margin: 0;
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

.container {
    background-color: $bgcolor;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}