@import "app.scss";

.home {
    background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.92)), url("../gifs/grid.gif");
    background-size: 100%;
    height: 100vh;

}

section {
    background: #050505;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-panel {
        border-radius: 0.5rem;
        padding: 2.5% 5%;
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;

        .text {
            flex-basis: 30%;
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-direction: column;
            

            h1 {
                font-size: 3rem;
                color: $white1;
            }

            p {
                color: $black5;
                text-align: center;
            }
        }

        ul {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;
            gap: 2rem;
            height: 100%;

            .row {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                    background-color: #0c0c0c;
                    flex-basis: 18%;
                    display: flex;
                    justify-content: center;
                    gap: 10%;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0 5px 20px 0px #0c0c0c;
                    border-radius: 0.25rem;
                    color: $black5;
                    height: 100%;

                    h3 {
                        font-weight: 800;
                    }

                    img {
                        width: 5rem;
                        height: 5rem;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

header {
    padding: 0 5%;
    display: flex;
    align-items: center;
    height: 88vh;
    color: $white1;

    .header-text {
        width: 100%;
        font-family: "Tilt Neon", cursive;
        height: 100%;
        flex-basis: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2%;
        text-shadow: 2px 1px 3px $primary;


        h1 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        span {
            color: $secondary;
            text-shadow: 1px 1px 3px $primary;
        }
    }


    .header-image {
        background: transparent;
        height: 100%;
        display: flex;
        align-items: center;
        flex-basis: 40%;

        .headerCanvas {
            filter: blur();
            height: 100%;
            width: 100%;
        }

    }

}

.shape-divider {
    position: absolute;
    top: 100vh;
    width: 100%;
    overflow: hidden;
    line-height: 0;


    svg {
        position: relative;
        display: block;
        width: calc(280%);
        height: 117px;

        path {
            fill: #0c0c0c;
        }
    }
}

.shape-divider-3 {
    @extend .shape-divider;

    svg {
        height: 60px;
        path {
            fill: $black1;
        }
    }
}

.shape-divider-2 {
    @extend .shape-divider;

    svg {
        z-index: 10;
        height: 30px;
        path {
            fill: #0c0c0c;
        }
    }
}


@keyframes wave {
    0% {
        width: 100%;
        height: 100px;
    }

    50% {
        width: 200%;
        height: 90px;
    }

    100% {
        width: 100%;
        height: 100px;
    }
}