@import "app.scss";

nav {
    font-family: "Inter";
    display: flex;
    padding: 0% 5%;
    flex-direction: row;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
    color: $white1;

    .logo {
        font-weight: 600;
    }

    .links {
        :hover {
            color: $primary;    
        }
        cursor: pointer;
        display: flex;
        gap: 1rem;
    }

    button {
        border-radius: 1rem;
        font-size: calc(0.6rem + 0.39vw);
        background: $secondary;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s;
    }
    
    button:hover {
        border-radius: 1.5rem;
    }

}